.chipstatus {
    position: relative;
    border-radius: 32px;
    background-color: #d8dadd;
    border: 1px solid #5a5d61;
    display: flex;
    flex-direction: row;
    font-family: 'Pretendard', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 12px;
    font-family: Pretendard;
    color: #5a5d61;

      
    white-space: nowrap;      
    min-width: 70px;          
    text-align: center;       
    display: flex;     

  }
  
  .chipstatus1 {
    position: relative;
    border-radius: 32px;
    background-color: #fffcf0;
    border: 1px solid #ffd53c;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
    justify-content: center;
    padding: 4px 8px;
    font-size: 12px;
    font-family: Pretendard;
    color: #ffd53c;
      
    white-space: nowrap;      
    min-width: 70px;          
    text-align: center;       
    display: flex;     

  }
  

  .chipstatusGreen {
    position: relative;
    border-radius: 32px;
    background-color: #e3fcef;
    border: 1px solid #2dc26c;
    color: #2dc26c;
    padding: 4px 8px;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    white-space: nowrap;      
    min-width: 70px;          
    text-align: center;       
    display: inline-flex;     

  }
  
  
  .chipstatusParent {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(101, 103, 107, 0.12);
    font-family: 'Pretendard', sans-serif;
    max-height: 200px; 
    overflow-y: auto;  
  }
  
  
  