@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-point: rgb(59 130 246);
  --color-sub1: rgb(239 245 254);
  --color-sub2: rgb(230 239 255);
  --color-sub3: rgb(155 193 255);
  --color-gray1: rgb(245 247 250);
  --color-gray2: rgb(216 218 221);
  --color-gray3: rgb(180 181 181);
  --color-gray4: rgb(101 103 107);
  --color-gray5: rgb(90 93 97);
  --color-gray6: rgb(85 87 92);
  --color-gray8: #ABAEB4;
  --color-gray9: #E8EAED;
  --color-red: #F34F4F;
  --color-green: #2CC970;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.input-common {
  @apply border border-gray2 rounded-xl px-4 text-base text-black bg-white;
}

.input-common:focus {
  @apply border-point outline-none;
}

.input-common.valid {
  @apply border-point;
}

.button-common {
  @apply rounded-lg px-3 py-4 bg-point text-white text-base font-semibold;
}

.button-common:disabled {
  @apply bg-gray3 text-white;
}

.button-common2 {
  @apply rounded-lg px-3 py-4 border border-point text-point text-base font-semibold;
}

.button-common2:disabled {
  @apply bg-gray3 text-white;
}

.button-small {
  @apply rounded-lg border border-point text-point;
}

.button-small:disabled {
  @apply bg-white border-gray3 text-gray3;
}

.button-very-round {
  @apply rounded-[32px] bg-gray9 text-gray8 cursor-pointer;
}

.button-very-round.active {
  @apply bg-point text-white cursor-pointer;
}


