/* wrapper: 카드 4개 정렬 (grid) */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
  background-color: #fff;
  height: 264px;
  margin-bottom: 32px;
  border-radius: 28px;
  position: relative;
  padding: 41px 40px 24px 40px;
}

.cardRow {
  display: flex;
  gap: 24px; /* 카드와 선 간 간격 */
  align-items: stretch; /* 선의 높이가 카드와 맞춰지도록 */
}

.rectangleDiv {
  position: relative;
}

.div {
  width: 211px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  font-family: Pretendard;
  color: #b4b5b5;
  text-align: left;
  display: inline-block;
  margin-left: auto;
  margin-right: 24px;
}
.b {
  /* position: relative; */
  font-size: 64px;
  /* display: inline-block; */
  /* font-family: Pretendard; */
  color: #3b82f6;
  line-height: 1;
  /* text-align: left; */
}
.div1 {
  font-size: 32px;
  color: #8f9195;
  line-height: 1;
}

.lineIcon {
  /* background-color: red; */
}

.group {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8px;
  height: 76px;
  font-size: 64px;
  color: #3b82f6;
  white-space: nowrap;
  align-items: end;
  /* background-color: aliceblue;/ */
}

.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 199px;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #b4b5b5;
  font-family: Pretendard;
}
